<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <script src="https://kit.fontawesome.com/39d3485811.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://github.com/Mrredstone2/CITComputerClub2/blob/68f1f6ece2705f0f060c0c623c9932e6f5f2a374/compclublogo.PNG?raw=true">
    <link rel="stylesheet" href="https://mrredstone2.github.io/CITComputerClub2/helpers/css/main.css">
  </head>

  <body onload="load()">
    <div id = "page">
    <header>
      <div class="container">
        <a id="a-title" href="https://mrredstone2.github.io/CITComputerClub2/home">
          <h1><img src="https://github.com/Mrredstone2/CITComputerClub2/blob/68f1f6ece2705f0f060c0c623c9932e6f5f2a374/compclublogo.PNG?raw=true" height="60" alt="logo" style="padding-right: 10px;">Computer Club</h1>
        </a>
      </div>
    </header>

    <div class="navbar" id="myTopnav">
      <a href="https://mrredstone2.github.io/CITComputerClub2/home">Home</a>
      <a href="https://mrredstone2.github.io/CITComputerClub2/groups">Groups</a>
      <a href="https://mrredstone2.github.io/CITComputerClub2/attendance">Attendance</a>
      <a href="https://mrredstone2.github.io/CITComputerClub2/signup">Sign Up</a>
      <div class="caldropdown" id="calanderdrop">
        <a href="javascript:void(0);" onclick="calclick();" class="dropbtn" id="Calander-button">Calendar</a>
      </div>
      <a onclick="document.getElementById('id01').style.display='block'" id="loginbutton" style="display: none;">Login</a>

      <div class="dropdown" id="UserOptions" style="display: none;">
        <a class="dropbtn" id="usrname">Username</a>
        <div class="dropdown-content">
          <a href="https://mrredstone2.github.io/CITComputerClub2/userinfo">User Info</a>
          <a id="adminlink" href="https://mrredstone2.github.io/CITComputerClub2/admin/portal" style="display: none;">Admin Portal</a>
          <a href="javascript:void(0);" onclick="logout();">Logout</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="menuExpand();">
      <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="calander-dropdown" id="calander-dropdown" style="display: none;">
      <div class="flex">
        <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%234285F4&ctz=America%2FNew_York&mode=MONTH&src=Y181bHZhazcwbTN0N2p1ZWUwcGVmdGY4bWFqNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F6BF26" style="border:solid 1px #777" width = "600" height="500" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
      <!-- Login popup!-->
      <div id="id01" class="modal">  
  <div class="modal-content animate" id="loginForm">
    <div class="exitcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="emailemailogin"><b>Email</b></label>
      <input type="text" enctype="multipart/form-data" placeholder="Enter Email" name="emailogin" id="emailogin"required>

      <label for="psw"><b>Password</b></label>
      <input type="password" enctype="multipart/form-data" placeholder="Enter Password" name="psw" required id="psw">
      </div>
   <button onclick= "usrLogin()">Login</button>
    
    <div class="alert" id="alertt">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <p id="messagee"></p>
  </div>
    
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
    </div>

</div>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>
  </body>
</html>
<script>

window.onclick = function(event) {
  var modal = document.getElementById('id01');
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
function menuExpand() {
  var x = document.getElementById("myTopnav");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
};
function load(){
    try{
  var x = document.getElementById("loginbutton");
  var y = document.getElementById("UserOptions");
  var z = document.getElementById("usrname");
  var b = document.getElementById("adminlink");

    var user = getCookie("User");
    var cookies = user.split(".");
    var cookie = atob(cookies[1]);
      
    y.style.display = null;
    var name = JSON.parse(cookie)["First_name"];
    z.innerHTML = name;
      
    if (JSON.parse(cookie)["User_type"] =="ADMIN"){  
      b.style.display = null;
   }else if (window.location.href.indexOf("admin") > -1){
     window.location.replace("https://mrredstone2.github.io/CITComputerClub2/home");
   }
    }
  catch(err){
    x.style.display = null;
    if (window.location.href.indexOf("admin") > -1) {
    window.location.replace("https://mrredstone2.github.io/CITComputerClub2/home");
          }  
      }
  }
window.addEventListener('resize', () => {
  var x = document.getElementById("calander-dropdown");
  if (window.innerWidth < 1000) {
    x.style.display= "none";
  }
}); 
function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
function deleteCookie(name) {
 document.cookie = name+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/CITComputerClub2;";
}
function logout() {
  deleteCookie("User");
  window.location.href = 'https://mrredstone2.github.io/CITComputerClub2/home';
}
function calclick(){
  var x = document.getElementById("calander-dropdown");
  if (window.innerWidth < 1000) {
    window.location.href = "https://mrredstone2.github.io/CITComputerClub2/calender";
  } else if (x.style.display == "none"){
    x.style.display = "block";
  } else{
    x.style.display= "none";
  }
}
function usrLogin() {
  var myHeaders = new Headers();
myHeaders.append("Content-Type", "application/json");
   
var email = document.getElementById("emailogin").value;
var pass = document.getElementById("psw").value;
   
var raw = JSON.stringify({
  "email": email,
  "password": pass
});

var requestOptions = {
  method: 'POST',
  headers: myHeaders,
  body: raw,
  redirect: 'follow'
};

fetch("https://computerclub.duckdns.org/login", requestOptions)
  .then(async response => {
  var result = response.headers.get('content-type')?.includes('application/json') ? await response.json() : null;
        if (result.error == null){
          document.cookie = "User="+result.token+"; path=/CITComputerClub2;";
          location.reload();
        } else {
          alerts(result.error);
        }
})
  .catch(error => console.log('error', error));
 }

function alerts(message){
  var x = document.getElementById("messagee");
  var popup = document.getElementById("alertt");
  popup.style.display='block';
  x.innerHTML = message;
}
  
console.log("loaded");
</script>
<noscript>
         <style>html{display:none;}</style>
         <meta http-equiv="refresh" content="0.0;url=https://mrredstone2.github.io/CITComputerClub2/nojs.html">
</noscript>

