<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <script src="https://kit.fontawesome.com/39d3485811.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div id = "page">
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="navbar" id="myTopnav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="groups.html">Groups</a>
      <a href="seating.html">Seating</a>
      <a href="admin.html">Admin Portal</a>
      <a onclick="document.getElementById('id01').style.display='block'" id="loginbutton" style="display: none;">Login</a>

      <div class="dropdown" id="UserOptions" style="display: none;">
        <a class="dropbtn" id="usrname">Username</a>
        <div class="dropdown-content">
          <a href="javascript:void(0);" onclick="logout()">Logout</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="menuExpand()">
      <i class="fa fa-bars"></i>
      </a>
    </div>

    <div id="id01" class="modal">  
  <form class="modal-content animate" action="/action_page.php" method="post" id="loginForm">
    <div class="exitcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="usrName"required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required id="psw">
        
      <button class = "submit" type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
<div id="flex">

  <button onclick="loginTest()">Login test</button>
</div>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>
  </body>
</html>
<script type="text/javascript" src="script.js"></script>
